* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(40, 35, 35);
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
nav {
    background-color: rgb(28, 45, 73);
    padding: 15px 0;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: rgb(21, 140, 71);
    font-size: 22px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover {
    color: rgb(8, 177, 79);
}
.signup {
    text-align: center;
    padding: 80px 0;
    background-color: rgb(255, 255, 255);
}
.signup h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.signup p {
    color: rgb(114, 113, 113);
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 200, 83);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background-color: rgb(18, 155, 50);
    transform: scale(1.05);
}
.markets {
    padding: 60px 0;
    text-align: center;
}
.market-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}
.market-box {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(149, 149, 149);
    transition: 0.3s;
    text-align: center;
}
.market-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.market-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}
.positive {
    color: rgb(8, 172, 8);
    font-weight: bold;
}
.negative {
    color: rgb(181, 0, 0);
    font-weight: bold;
}
.portfolio,
.account,
.contact {
    padding: 60px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(210, 195, 195);
}
footer {
    background-color: rgb(43, 67, 104);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}